footer {
    position: relative;
    background-color: sandybrown;
    width: 100%;
    height: 25px;
    font-size: 19px;
    font-style: initial;
    text-align: center;
    margin: 5px 0px 0px 0px;
}
